@model LoanModel

<form method="post" asp-controller="Loan" asp-action="Delete">
    <div class="border p-3 mt-4 glassBackground">
        <div class="row pb-2">
            <h3 class="text-black"> Welcome to the loan Deletion Page</h3>
            <h5 class="text-black-50">Hi there. I am Loaner, Your home loan digital assistance :D</h5>
            <hr />
        </div>
        <!--add Validations here

        <div asp-validation-summary="All"></div>

        -->
        <div class="mb-3">

            <label class="text-black"> Your name</label>
            <input disabled asp-for="Name" class="form-control" />
        </div><div class="mb-3">
            <label class="text-black"> Your Surname</label>
            <input disabled asp-for="Surname" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="text-black"> Your Gross Salary:</label>
            <input disabled asp-for="GrossSalary" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="text-black"> Your credit score(0-1200): </label>
            <input disabled asp-for="CreditScore" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="text-black"> The purchase price of the property?: </label>
            <input disabled asp-for="PriceOfProperty" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="text-black"> Loan Status </label>
            <input disabled asp-for="LoanStatus" class="form-control" />
        </div>



        <button type="submit" class="btn btn-primary glassBackground text-black-50" style="width:150px">Delete Loaner</button>

        <a asp-controller="Loan" asp-action="LoanView" class="btn btn-secondary glassBackground text-black-50" style="width:150px">Back </a>
    </div>
</form>

@* <style>
  .glassBackground
  {
      block-size: fit-content;
      background: rgba(255, 255, 255, 0.2); /* Transparent white */
      backdrop-filter: blur(10px); /* Frosted glass effect */
      -webkit-backdrop-filter: blur(10px); /* Safari support */
      border-radius: 15px;
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);

  }
</style> *@