@model LoanModel

<form method="post" asp-controller="Loan" asp-action="GetLoaner" >
    <div class="border p-3 mt-4 glassBackground">
        <div class="row pb-2">
            <h2 class="text-black"> Welcome to the loan Creation Page</h2>
            <h3 class="text-black-50">Hi there. I am Loaner, Your home loan digital assistance :D</h3>
            <hr/>
        </div>
        <!--add Validations here 

        <div asp-validation-summary="All"></div>
        
        -->


        <div class="mb-3">
            @if (Model == null)
            {

                <div class="mb-3">
                    <label class="text-black">Please Enter Your name</label>
                    <input id="nameInput" asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div><div class="mb-3">
                    <label class="text-black">Please Enter Your Surname</label>
                    <input id="surnameInput" asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-black">Enter Your Gross Salary:</label>
                    <input asp-for="GrossSalary" class="form-control" />
                    <span asp-validation-for="GrossSalary" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-black">Now enter your credit score(0-1200): </label>
                    <input asp-for="CreditScore" class="form-control" />
                    <span asp-validation-for="CreditScore" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="text-black">What is the purchase price of the property?: </label>
                    <input asp-for="PriceOfProperty" class="form-control" />
                    <span asp-validation-for="PriceOfProperty" class="text-danger"></span>
                </div>
            }

            <button type="submit" class="btn btn-primary glassBackground text-black-50" style="width:150px">Make Loan</button>

            <a asp-controller="Loan" asp-action="LoanView" class="btn btn-secondary glassBackground text-black-50" style="width:150px">Back </a>
    </div>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    
}