html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin-bottom: 60px;
    /*background-image: url("~/Images/loanImageOne.jpg");*/ /* Replace with your image path */
    background-image: url("/Images/loanImageOne.jpg");
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Keeps the background image fixed during scroll */
    background-position: center center; /* Centers the image */
}
.glassBackground {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.GlassBackGround {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0.1px 8px;
    margin: 2px;
    display: inline-block;
}