@{
    ViewData["Title"] = "Home Page";
    
}
<body>

    <div id="textDiv" class="text-white text-center ">
        <h1 class="display-4">
            
            <span class="GlassBackGround">W</span>
            <span class="GlassBackGround">E</span>
            <span class="GlassBackGround">L</span>
            <span class="GlassBackGround">L</span>
            <span class="GlassBackGround">C</span>
            <span class="GlassBackGround">O</span>
            <span class="GlassBackGround">M</span>
            <span class="GlassBackGround">E</span>
            <br/>
            <span class="GlassBackGround">T</span>
            <span class="GlassBackGround">o</span>
            <br/>
            <span class="GlassBackGround">H</span>
            <span class="GlassBackGround">o</span>
            <span class="GlassBackGround">m</span>
            <span class="GlassBackGround">e</span>
            <span >&nbsp;</span>
            <span class="GlassBackGround">L</span>
            <span class="GlassBackGround">o</span>
            <span class="GlassBackGround">a</span>
            <span class="GlassBackGround">n</span>
            <span class="GlassBackGround">s</span>
        </h1>
    
  
</div>
</body>


@* <style>
 
   .GlassBackGround
   {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5px;
        padding: 0.1px 8px;
        margin: 2px;
        display: inline-block;
   }
</style> *@